.blog-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;

}

.blog-container > h1 {
    font-family: Poppins-black;
}

.blog-categories > a {
    margin: 10px;
    font-weight: bolder;
    text-decoration: none;
    font-family: Poppins-Black; 
    cursor: pointer;
}

.description-post {
    text-align: left;
    margin: 10px;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
}
.selected {
    color: rgba(0, 0, 0, 1);
}

.unselected {
    color: rgba(0, 0, 0, .4)
}

.reverse {
    flex-direction: column-reverse;
}

.blog-block {
    margin: 10px;
    padding: 10px;
}

.blog-block-double {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

